<!--The content below is only a placeholder and can be replaced.-->
<div class="ui container title-container">
  <h1 class="title"> Welcome to {{ title }}! </h1>
  <!-- <prd-sign-in></prd-sign-in> -->
</div>

<!-- <div class="ui two column grid container">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu" >
      <a class="item" routerLinkActive="active-link" [routerLink]="['posts']" >Posts</a>
      <a class="item" routerLinkActive="active-link" [routerLink]="['users']" >Users</a>
      <a class="item" routerLinkActive="active-link" [routerLink]="['form']" >Form</a>
      <a class="item" routerLinkActive="active-link" [routerLink]="['comments']" >Comments</a>
    </div>
  </div>
  <div class="twelve wide column"> -->
  <router-outlet></router-outlet>
  <!-- </div>
</div> -->
